In [3]:
#CSV dan TSV pada hakikatnya adalah tipe data text dengan perbedaan terletak pada pemisah antar data dalam satu baris. Pada file CSV, antar data dalam satu baris dipisahkan oleh comma, ",". Namun, pada file TSV antar data dalam satu baris dipisahkan oleh "Tab".
#Fungsi .read_csv() digunakan untuk membaca file yang value nya dipisahkan oleh comma (default), terkadang pemisah value nya bisa di set ‘\t’ untuk file tsv (tab separated values).
import pandas as pd
# File CSV
df_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")
print(df_csv.head(3)) # Menampilkan 3 data teratas
# File TSV
df_tsv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep='\t')
print(df_tsv.head(3)) # Menampilkan 3 data teratas

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000

In [4]:
#Read Data Set Excel
import pandas as pd
# File xlsx dengan data di sheet "test"
df_excel = pd.read_excel("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_excel.xlsx", sheet_name="test")
print(df_excel.head(4)) # Menampilkan 4 data teratas

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

In [5]:
import pandas as pd
# File JSON
url = "https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)
print(df_json.head(10)) # Menampilkan 10 data teratas

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

In [6]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")
# Tampilkan 3 data teratas
print("Tiga data teratas:\n", df.head(3))
# Tampilkan 3 data terbawah
print("Tiga data terbawah:\n", df.tail(3))

Tiga data teratas:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
Tiga data terbawah:
      order_id  order_date  customer_id      city          province product_id  \
98    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3354
99    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3357
100   1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P0422

       brand  quantity  item_price
98   BRAND_S        24      450000
99   BRAND_S        24      450000
100  BRAND_B         4     1325000